.form-container {
    max-width: 1200px;
    height: 390px;
    margin-left: 20px ;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
}

.form-control {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #45a049;
}
